@text-transform {
	system: ueb;
}

h1 {
	page-break-before: always;
	text-align: center;
	margin-left: 3;
	margin-right: 3;
	margin-bottom: 1;
}

h2 {
	margin-left: 4;
}

h3, h4 {
	margin-left: 6;
}

h1, h2, h3, h4 {
	margin-top: 1;
	page-break-after: avoid;
}

p {
	text-indent: 2;
}

li {
	text-indent: -2;
	margin-left: 2;
}

ul, ol {
	margin-top: 1;
	margin-bottom: 1;
}

h2 + ul, h2 + ol,
h3 + ul, h3 + ol,
h4 + ul, h4 + ol {
	margin-top: 0;
}

ul, ol {
	orphans: 2;
}

h1 + * > li:first-child,
h2 + * > li:first-child,
h3 + * > li:first-child,
h4 + * > li:first-child {
	page-break-inside: avoid;
}
