// define heading structure
$h-mapping: (
	h1: [ h1, h2, h3 ],
	h2: h4,
	h3: [h5, h6]
);

/**
 * @brief Reuse print TOC
 *
 * Reuse existing TOC instead of generating a new one
 */
$reuse-print-toc: false !default;

// define these outside @if to make them in scope for @import below
$toc-exclude: ();
$toc-depth: 2;

@if $reuse-print-toc == true or $reuse-print-toc == both {
	body:has(#filepos1838) {
		display: -obfl-toc;
		page: preliminary; // not transcriber generated
		-obfl-toc-range: document;
		-daisy-flow: document-toc;
		&::duplicate {
			display: -obfl-toc;
			page: preliminary;
			-obfl-toc-range: volume;
			-daisy-flow: volume-toc;
		}
		&::-obfl-on-toc-start,
		&::duplicate::-obfl-on-toc-start {
			content: "Contents";
			display: block;
			text-align: center;
			margin: 0 3 1 3;
		}
		&::-obfl-on-volume-start {
			content: "Volume " counter(-obfl-started-volume-number);
			display: block;
			text-align: center;
			margin: 1 3;
		}
		h3 {
			display: none;
		}
		p {
			margin-left: 2;
			text-indent: -2;
			-obfl-right-text-indent: 4;
			a[href]::after {
				content: " " leader("â ") " " target-counter(attr(href), page);
			}
		}
	}
} @else {
	body:has(#filepos1838) {
		display: none;
	}
}
@if $reuse-print-toc == false or $reuse-print-toc == both {
	$toc-exclude: h1, h2, 'h3:has(#filepos1838)';
	$toc-depth: 3;
} @else {
	$toc-depth: 0;

}

@import "xavier-society";

// remove indentation from li elements that correspond with omitted h1 and h2 in TOC
#generated-document-toc,
#generated-volume-toc {
	li:not(:has(> a)) {
		margin-left: 0;
	}
}

// omit title and subtitle (because already on title page)
h1, h2 {
	display: none;
	.brl-symbols-list & {
		display: block;
	}
}

// add title pages, foreword and introduction to preliminary pages
body:has(img[alt=cover]),
body:has(#calibre_pb_0),
body:has(#calibre_pb_1),
body:has(#calibre_pb_2),
body:has(#filepos2860),
body:has(#filepos7269) {
	page: preliminary;
}
