@import url("bana.css");

@text-transform {
	type: literary;
	contraction: full;
}

@volume {
	@begin {
		content: flow(frontmatter, document);
	}
}

:root {
	hyphens: manual;
}

.brl-title-page {
	flow: frontmatter;
	display: block;
	page-break-before: always;
}

.brl-title-page .title,
.brl-title-page .creator,
.brl-title-page .volume {
	text-align: center;
}

.brl-title-page .volume-number::after {
	content: counter(volume);
}

.brl-symbols-list {
	flow: frontmatter;
	display: block;
	page-break-before: always;
}

.brl-symbols-list h1 {
	text-transform: uppercase;
	margin-top: 0;
}

.brl-symbols-list .symbol {
	text-transform: none;
}
